/*
Notes:
#inner {
    display: table;
    margin: 0 auto;

    OR

    width: 50%;
    margin: 0 auto;
}


*/


html {
	background-color: #333333;
}

* {

}

div {
	
}

#inner_text {
	display: table;

	/* Centering text horizontally */
	margin-left: auto;
	margin-right: auto;

	/* Attempting to center vertically */
	padding-top: 35%;
	padding-bottom: 30%;

	/* Modifying text size */
	font-size: 25px;
	font-family: Arial Narrow;
	font-weight: lighter;
	color: #191919;
}

#circle {
	/* Circle Elements */
	border-radius: 50%;	
	height: 100px;
	width: 100px;

	/* Formatting the Circle */

	/*border: .5px solid #F20000;*/
	/*border-color: #FF0000;*/
	/*background-color: #990000;*/

	background: -moz-radial-gradient(circle, #990000, #FF0000);
	background: -webkit-radial-gradient(circle, #990000, #FF0000);
	background: radial-gradient(circle, #990000, #FF0000);

	/* Fixing elements and centering in page */
	position: fixed;
	top: 50%;
	left: 50%;
}

#txt_shadow {
	text-shadow: -1px 1px 2px #595959;
}

/* Original start position: TOP: -50px and LEFT: -50px; */

/* Center top */
.about_me {
	margin-top: -200px;
	margin-left: -50px;

}

/* Left side */

.code {
	margin-top: -145px;
	margin-left: -180px;
}

.tutoring {
	margin-top: -10px;
	margin-left: -200px;

}

.blog {
	margin-top: 100px;
	margin-left: -120px;

}

/* Right side */

.photos {
	margin-top: -145px;
	margin-left: 80px;

}

.music {
	margin-top: -10px;
	margin-left: 100px;

}

.books {
	margin-top: 100px;
	margin-left: 20px;

}

/*.tester {
	width: 200px;
	height: 200px;
	
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, red 0%, orange 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, #990000, #F20000);
	background-image: radial-gradient(45px 45px 45deg, circle cover, red 0%, orange 100%, red 95%);
	
}*/