* {
	font-family: Arial
}

div {

}

p {

}

#circle {
	/* Circle Elements */
	border-radius: 50%;	
	height: 100px;
	width: 100px;

	/* Formatting the Circle */
	border: 3px solid black;
	/*border-color: #FF0000;*/
	background-color: #CC0000;
}

.about_me {

}

