<div class="sidebar blog">
    <div class="button sidebar-close hvr-grow">
        <i class="ion-close"></i>
    </div>

    <div class="option">
        <span class="hvr-underline-from-left menu hvr-grow">
            <a href="{{ site.url }}">HOME</a>
        </span>
    </div>

    {% for tab in site.pages %}
        {% if tab.uppercase-title %}
            <div class="option">
                <span class="hvr-underline-from-left menu hvr-grow">
                    <a href="{{ tab.url | prepend: site.baseurl }}">
                        {{ tab.uppercase-title }}
                    </a>
                </span>
            </div>
        {% endif %}
    {% endfor %}

</div>
<div class="button sidebar-open">
    <i class="ion-navicon"></i>
</div>