/* CSS document to accompany index.html */

body {
	background-color: #2b2b2b;
}

* {
	
}


/* Centering idea from http://stackoverflow.com/questions/19461521/how-to-center-an-element-horizontally-and-vertically*/
html, body {
	height: 100%;
}

.cover {
	background-color: black;
	height: 100%;
	width: 100%;
	position: absolute;
	text-align: center;
}

.intro {
	color: white;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -18px;
}

/**/