/* CSS document to accompany index.html */

body {
	background-color: #212121;
}

* {
	
}

div {

}

#inner_text {
	display: table;

	/* Centering text horizontally */
	margin-left: auto;
	margin-right: auto;

	/* Attempting to center vertically */
	padding-top: 35%;
	padding-bottom: 30%;

	/* Modifying text size */
	font-size: 25px;
	font-family: Arial Narrow;
	font-weight: lighter;
	color: #191919;
}

#circle {
	display: block;

	/* Circle Elements */
	border-radius: 50%;	
	height: 100px;
	width: 100px;
	text-align: center;
	/*line-height: 100px;*/
	box-shadow: 0px 3px 8px #191919, inset 0px 2px 3px #292929;

	/* Formatting the Circle */

	/*border: .5px solid #F20000;*/
	/*border-color: #FF0000;*/
	/*background-color: #990000;*/

	background-image: -webkit-gradient(linear, left top, left bottom, from(#800000), to(#AA0000));
	background-image: -webkit-linear-gradient(top, #800000, #AA0000); 
	background-image: -moz-linear-gradient(top, #800000, #AA0000); 
	background-image: -ms-linear-gradient(top, #800000, #AA0000); 
	background-image: -o-linear-gradient(top, #800000, #AA0000); 

	/* Fixing elements and centering in page */
	position: fixed;
	top: 50%;
	left: 50%;
}

#circle:hover {
	background: #B00000;
}

#txt_shadow {
	text-shadow: -1px 1px 2px #595959;
}

/* Original start position: TOP: -50px and LEFT: -50px; */

/* Center top */
.about_me {
	margin-top: -200px;
	margin-left: -50px;

}

/* Left side */

.code {
	margin-top: -145px;
	margin-left: -180px;
}

.tutoring {
	margin-top: -10px;
	margin-left: -200px;

}

.blog {
	margin-top: 100px;
	margin-left: -120px;

}

/* Right side */

.photos {
	margin-top: -145px;
	margin-left: 80px;

}

.music {
	margin-top: -10px;
	margin-left: 100px;

}

.books {
	margin-top: 100px;
	margin-left: 20px;

}

.tester {
	width: 200px;
	height: 200px;
	
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, red 0%, orange 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, #990000, #F20000);
	background-image: radial-gradient(45px 45px 45deg, circle cover, red 0%, orange 100%, red 95%);

	opacity: .6;
	
}